html {
  background: url(../images/spice-girls.jpg) no-repeat top left;
}
/* media query */
@mediA (max-width: 1170px) and (min-width: 406px) {

#monkey {
  position: absolute;
  top: 550px;
  right: 120px;
}

/* Write your solution here */

}